{%extends 'all-neighbors/base.html'%}
{% load bootstrap4 %}
 {% load staticfiles %}
{% block content %}
{{block.super}}
<div class="col-md-4">
        <div class="card">
            <div class="card-body">
            <p>{{profile.firstName}}</p>
            <p>{{profile.lastName}}</p>
            <p>{{profile.neighborhood}}</p>

            <a  href="{% url 'new-business'%}">Add the business</a>
            
        </div>
        </div>

        <div class="col-md-4"> 
            {%for busin in all_businesses%}       
             
              <button type="button"  data-toggle="modal" data-target="#{{busin.id}}">
                  <img src="{{busin.business_image.url}}" width="270" height="250" class="img-responsive" style="justify-content: space-between;padding:1%" alt="Image">
              </button>
      
              {% empty %}


        {% endblock %}