{%extends 'all-neighbors/base.html'%}

{% block content %}
{{block.super}}
<div class="container">
    {% for neigh in neighbor %}
    <div class="row">
            
        <h2 class="center-align">
            <a href="{% url 'neighborhood' neighborhood_id=neigh.id %}">{{neigh.neighbourhood_name}}</a></h2>
    </div>
    {% endfor %}
</div>
<div class="imag"> 
    {%for busin in all_pro%}       
     
      <button type="button"  data-toggle="modal" data-target="#{{proj.id}}">
          <img src="{{proj.image.url}}" width="270" height="250" class="img-responsive" style="justify-content: space-between;padding:1%" alt="Image">
      </button>

      {% empty %}
<div class="row">
  <h2 class="text-center">There No News Items</h2>
</div>

      {% endfor %}
    </div>
  </div>
            
    

{% endblock %}